.box-model-1{
	border: 10px groove #9088d4;
	text-align: center;
	border-radius: 15px;

}

.aku-padding{
	padding: 30px 50px;

}

.aku-margin{
	margin: 30px;
}

.aku-background{
	opacity: .8;
	background: rgba(144, 136, 212, 0.2) ;
	color:#222831;
}

.content-slash-top{
	margin-top:10%;
	border-top: 3px solid black;
}

.test{
	border: 5px outset #ff9a8c;
	width:50%;
	margin-top:20px;
	border-radius: 10px;
	text-align: center;
}